<%= render "/shared/nav_form" %>
        <div id="thankyou"> 
              <div class="message"> 
                  <h1> THANK YOU </h1>
                  <p> Your Order has been processed. We will send you a confirmation shortly. </p>
                  <%= link_to "Continue Shopping", root_path, class: "home_button" %> <br><br><br>
              </div>
        </div>