<%= render "/shared/nav_form" %>
          <div id="top_wrapper">
              <div class="home_content">
                  <div class="content_home">
                    <h1 class="home_header">MADE TO MEASURE SHOES </h1>
                    <%= link_to "CUSTOMIZE NOW", collection_path, class: "home_button" %>
                  </div> 
              </div>
            </div>
          <hr>
          <div id="bottom_wrapper">
              <div class="row-fluid">
                <div class="span4">
                    <h2 class="about">CHOOSE YOUR DESIGN</h2>
                    <img src="/assets/choosestyle.png" class="align-center medium" >
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="span4">
                  <h2 class="about">MEASURE & CUSTOMIZE</h2>
                  <img src="/assets/customize.png" class="align-center medium" >
                  
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
                <div class="span4">
                  <h2 class="about"s>FREE SHIPPING & ALTERATION</h2>
                  <img src="/assets/freestuff.png" class="align-center medium" >
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                </div>
              </div>
           </div> 