<%= render "shared/nav_form" %>
          <div class="collection">
                <div class="collection_content">
                    <h1 class="collection_header">MODERN OXFORDS </h1>
                </div>
                <div class="view">
                    <img src="/assets/blackoxford.png" />
                        <div class="mask">
                            <h2><em> City II </em></h2>
                            <p> A modern Oxford with a traditional but delicate toe punch design, as well as decorative punching on the vamp and quarters. </p>
                            <p> $300 </p>
                            <%= link_to "SHOP NOW", black_path, class: "info" %>
                        </div>
                </div>    
                <hr>
                <div class="collection_content_1">
                    <h1 class="collection_header"> THE MONKSTRAP</h1>
                </div>
                <div class="view">
                      <img src="/assets/buckles.png" />
                          <div class="mask">
                              <h2><em> Chapel </em></h2>
                              <p> This flawless monkstrap is fashioned from a single piece of leather with no back seam, parallel buckles, squared toe and sweeping lines. </p>
                              <p> $300 </p>
                              <%= link_to "SHOP NOW", monk_path, class: "info" %>
                          </div>
                </div>    
                  <hr>
                  <div class="collection_content_2">
                      <h1 class="collection_header">CLASSIC BROGUE </h1>
                  </div>
                  <div class="view">
                      <img src="/assets/brownoxford.png" />
                          <div class="mask">
                              <h2><em>Philip II</em></h2>
                              <p> With its hand-beveled waist, fine punching on the toe cap and rounded soles, this classic brogue has many of the bespoke elements. </p>
                              <p> $300 </p>
                              <%= link_to "SHOP NOW", brown_path, class: "info" %>
                          </div>
                  </div>    
            </div>